body {
    font-family:'Nanum Gothic', sans-serif;
    font-weight:400;
    /* font-size:16px; */
    line-height:1.7;
    color:$color_gray_dark;
}

.heading_primary {
    color:$color_white;
    text-transform:uppercase;
    text-align:center;
    backface-visibility:hidden; /* 찾아보기 */
    margin-bottom:6rem;

    &_main {
        display:block;
        font-size:6rem;
        letter-spacing:0.5rem;
        animation:moveInLeft 1s ease-in-out;
    }

    &_sub {
        font-family:'Nanum Myeongjo', serif;
        display:block;
        font-size:2rem;
        font-weight:700;
        animation:moveInRight 1s ease-in-out;
    }
}

.heading_secondary {
    font-size:3.5rem;
    text-transform:uppercase;
    font-weight:700;
    display:inline-block;
    background-image:linear-gradient(to right, $color_mint_1, $color_purple_1);
    -webkit-background-clip:text; /* 찾아보기 */
    color:transparent;
    transition:all .2s;

    &:hover {
        transform:skewX(-15deg); /* skewY(20deg) scale(1.1) */
        text-shadow:.5rem 1rem 2rem rgba($color_black, .2);
    }
}

.heading_tertiary {
    font-size:$default_font_size;
    font-weight:700;
}

.paragraph {
    font-size:$default_font_size;

    &:not(:last-child) {
        margin-bottom:3rem;
    }
}