.header {
    height:95vh;
    background-image:linear-gradient(to right bottom, rgba($color_mint_1, 0.6), rgba($color_purple_1, .6)), url(../img/la_palm_trees_.jpg);
    background-size:cover;
    background-position:top;
    position:relative; /* .logo_box, position 때문에 */
    -webkit-clip-path:polygon(0 0, 100% 0, 100% 75vh, 0 100%);
    clip-path:polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    .logo_box {
        position:absolute;
        top:4rem;
        left:4rem;

        .logo {
            height:4.5rem;
        }
    }
    .text_box {
        /* text_box 가운데 정렬하기 위한 코드 */
        position:absolute;
        top:45%;
        left:50%;
        transform:translate(-50%, -50%);
        text-align:center;
    }
}