.btn {
    &:link, &:visited {
        text-decoration:none;
        padding:1.5rem 4rem;
        display:inline-block; /* 버튼 정렬하기 위해서 */
        border-radius:10rem;
        transition:all .2s;
        position:relative;
        font-size:$default_font_size;
    }

    &:hover {
        transform:translateY(-3px);
        box-shadow:0 1rem 2rem rgba($color_black, .2);

        &::after {
            transform:scaleX(1.4) scaleY(1.7);
            opacity:0;
        }
    }

    &:active {
        transform:translateY(-1px);
        box-shadow:0 .5rem 1rem rgba($color_black, .2);
    }

    &::after {
        content:"";
        display:inline-block;
        width:100%;
        height:100%;
        border-radius:100px;
        position:absolute;
        top:0;
        left:0;
        z-index:-1;
        transition:all .4s;
    }

    &_white {
        background-color:$color_white;
        color:$color_gray_dark;

        &::after {
            background-color:$color_white;
        } 
    }

    &_mint {
        background-color:$color_mint_3;
        color:$color_white;

        &::after {
            background-color:$color_white;
        } 
    }

    &_animated {
        animation:moveInBottom .5s ease-in-out .75s;
        animation-fill-mode:backwards; /* 찾아보기 */
    }
}

.btn_text {
    &:link, &:visited {
        font-size:$default_font_size;
        color:$color_mint_3;
        display:inline-block;
        text-decoration:none;
        border-bottom:1px solid $color_mint_3;
        padding:5px;
        transition:all .2s;
    }
    &:hover {
        background-color:$color_mint_3;
        color:$color_white;
        box-shadow:0 1rem 2rem rgba($color_black, .15);
        transform:translateY(-2px);
    }
    &:active {
        box-shadow:0 .5rem 1rem rgba($color_black, .15);
        transform:translateY(0);
    }
}